<tag-input-item
  *ngFor="let tag of tags.getRawValue(); let index = index"
  ƒ
  [text]="tag"
  [index]="index"
  (tagRemoved)="removeTag($event)"
>
</tag-input-item>
<!-- 
<input
  class="ng2-tag-input-field"
  type="text"
  [(ngModel)]="tagInput"
  (ngModelChange)="handleChange($event)"
/>

<button (click)="add()">Add</button>

{{ value | json }} -->
<input
  type="string"
  [(ngModel)]="tagInput"
  (ngModelChange)="tagChanged($event)"
/>

<ng-container *ngIf="tagsVM.length > 0; else noTag">
  <select>
    <option *ngFor="let t of tagsVM">
      {{ t }}
    </option>
  </select>
</ng-container>

<ng-template #noTag>
  <button (click)="addTag()" type="button">Add</button>
</ng-template>
