<tag-input-item
  *ngFor="let tag of selectedTags.getRawValue(); let index = index"
  [text]="tag"
  [index]="index"
  (tagRemoved)="removeTag($event)"
>
</tag-input-item>

<div class="flex-row">
  <button
    *ngIf="!isTagDropdownVisible"
    (click)="showTagOption()"
    type="button"
    class="m-r-8"
  >
    Add
  </button>

  <div *ngIf="isTagDropdownVisible" class="tags-dropdown">
    <!-- Input -->
    <input
      class="tags-dropdown__search"
      type="string"
      [(ngModel)]="tagInput"
      (ngModelChange)="tagChanged($event)"
    />

    <div class="tags-dropdown__list" *ngIf="tagsVM.length > 0">
      <div *ngFor="let t of tagsVM" (click)="addTag(t)">
        <span>{{ t }}</span>
      </div>
    </div>
  </div>
</div>
