.flex {
  display: flex;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}
